/* BODY */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin: 0;
    background-color: #71E9F9;
}


/* CANVAS */


canvas {
    display: block;
    touch-action: none;
    will-change: transform;
}


/* HEADER */


#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    box-sizing: border-box;
}


#logo {
    width: 60px;
    height: auto;
}


#username, #score {
    font-size: 20px;
    font-family: 'Luckiest Guy', sans-serif;
    color: #000;
}


/* FOOTER */


#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    box-sizing: border-box;
}


/* REFER */


.miniButton {
    margin: 10px 0;
    padding: 5px 10px;

    border: 0px;
    border-radius: 20px;
    background: linear-gradient(45deg, #FF7B53, #FF5E3A);

    color: #000000;
    font-family: "Almendra SC", serif;
    text-align: center;
}


.text {
    font-size: 12px;
    font-family: 'Luckiest Guy', sans-serif;
    color: #000;    
}
